<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Calculate Change!</h1>
      </div>
      <div class="row">
        <form action="/" method="post">
          <div class="form-group">
            <label for="input">Enter some change:</label>
            <input type="number" name="input" id="input">
            <button type="submit" class="btn" name="button">Submit</button>
          </div>
        </form>
        <div class="output">
          @if(Model != null)
          {
            <h1>Quarters: @Model.GetQuarter() </h1>
            <h1>Dimes: @Model.GetDime() </h1>
            <h1>Nickels: @Model.GetNickel() </h1>
            <h1>Pennies: @Model.GetPenny() </h1>
          }
        </div>
      </div>
    </div>
  </body>
</html>
